.healthcare
{
    padding: 80px 0 190px;
    min-height: 598px;
    &-text
    {
        max-width: 445px;
    }
    &__title
    {
        width: 426px;
        @include title($fz: 48px);
    }
    &__text
    {
        margin: 35px 0;
        @include text($fz: 21px, $lh: 32px);
    }
    &__btn
    {
        color: #fff;
        background-color: $accent-color;
    }
}