*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

ul,
ol,
li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: #CDCDCD;
}

img
{
    max-width: 100%;
}

button
{
    display: block;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.title
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
}

.padding
{
    padding: 80px 0 100px;
}

.colored-btn__hover:hover
{
    background: #FDDCC4;
}

.transparent-btn__hover:hover
{
    background: #FDDCC4;
    border: none;
}

.header
{
    position: absolute;
    padding: 60px 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.flex-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-link
{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.header__logo-text
{
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.menu
{
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item
{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: 0.3s all;
}
.menu__item:hover
{
    border-bottom: 3px solid #F1CDB3;
}

.active
{
    display: block;
}

.hamburger
{
    display: none;
}

.first-page
{
    /* position: relative; */
    padding-top: 180px;
    min-height: 908px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.first-page__text
{
    width: 460px;
}
.first-page__text__title
{
    width: 310px;
    font-size: 44px;
    margin-bottom: 42px;
    color: #fff;
}
.first-page__text__descr
{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}
.first-page__text__link
{
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.6s all;
}

.about .flex-container
{
    justify-content: space-around;
}
.about__text
{
    padding: 14px 0;
    width: 430px;
}

.about__text-title
{
    width: 370px;
}
.about__text-descr
{
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.friends
{
    background: #F6F6F6;
}
.friends__title
{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.friends .flex-container
{
    margin: 60px 0;
}

.friends__carousel-arr
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.friends__carousel
{
    display: flex;
    width: 990px;
    align-items: center;
    justify-content: space-between;
}

.friends__carousel-arr__img
{
    width: 14px;
    height: 6px;
}

.friends__carousel-item
{
    padding-bottom: 30px;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    transition: all 0.6s;
}
.friends__carousel-item:hover
{
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.friends__carousel-title
{
    display: block;
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.friends__carousel-btn
{
    display: block;
    margin: 0 auto;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.friends__arr
{
    display: none;
}

.friends__btn
{
    margin: 0 auto;
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px;
    background: #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}


.help__title
{
    width: 308px;
    margin: 0 auto 60px;
    text-align: center;
}

.help__flex-container
{
    /* max-width: 1026px;
    height: 281px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
}
.help__type
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}

.help__type-icon
{
    max-height: 60px;
}
.help__type-name
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation
{
    background: #F6F6F6;
}
.donation .flex-container
{
    justify-content: center;
    gap: 30px;
}

.donation__text
{
    width: 380px;
}

.donation__text-title
{
    width: 285px;
}
.donation__text-name
{
    margin-top: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text-card
{
    margin-top: 20px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.donation__text-card__icon
{
    width: 30px;
    height: 23px;
}
.donation__text-card__number
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__text-info
{
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer
{
    min-height: 350px;
    padding-top: 40px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__contacts
{
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts-title
{
    width: 278px;
    color: #FFFFFF;
}

.footer__contacts-contact
{
    display: flex;
    gap: 20px;
}
.footer__contacts-contact__name
{
    width: 260px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}


@media screen and (max-width: 1200px)
{
    .container
    {
        width: 960px;
    }
    .first-page__img-block
    {
        width: 569px;
        align-self: end;
    }
    .friends__carousel {
        width: 840px;
    }
}

@media screen and (max-width: 991px)
{
    .container
    {
        width: 720px;
    }
    .first-page .flex-container
    {
        flex-direction: column;
        gap: 100px;
    }
    .first-page__img-block {
        width: 569px;
        height: 593px;
        align-self: end;
    }

    .about .flex-container
    {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .friends__carousel
    {
        width: 580px;
    }
    .friends__carousel-item:nth-child(3)
    {
        display: none;
    }

    .help__flex-container {
        margin: 0 auto;
        justify-content: space-between;
        gap: 55px 60px;
    }
    .help__type
    {
        width: 170px;
    }

    .donation .flex-container
    {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .footer .flex-container
    {
        flex-wrap: wrap;
        gap: 65px 60px;
    }
    .footer__img
    {
        margin: auto;
    }
}

@media screen and (max-width: 767px)
{
    body
    {
        position: relative;
    }
    .container
    {
        width: 540px;
    }

    .nav
    {
        display: none;
        right: -100%;
    }

    .header__logo
    {
        left: 0;
        top: 30px;
        position: absolute;
        z-index: 10;
    }

    .hamburger
    {
        position: absolute;
        width: 30px;
        height: 22px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;
        transition: rotate 0.8s ease-in;
    }
    .hamburger span
    {
        width: 100%;
        height: 2px;
        background-color: #F1CDB3;
    }

    .hamburger__active
    {
        transform: rotate(90deg);
    }

    .nav__active
    {
        padding: 248px 39px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 100vh;

        background-color: #292929;
        z-index: 5;
    }
    .nav__active .menu
    {
        display: flex;
        flex-direction: column;
        width: 327px;
    }
    .nav__active .menu__item
    {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 32px;
        color: #FAFAFA;
    }

    .friends__carousel
    {
        justify-content: center;
        align-items: center;
    }

    .friends__carousel-item:nth-child(2) {
        display: none;
    }
    /* .help__flex-container {
        margin: 0 auto;
        justify-content: space-between;
        gap: 55px 60px;
    }
    .help__type
    {
        width: 170px;
    } */

    .footer .flex-container
    {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px)
{
    .container
    {
        width: 300px;
    }

    .first-page
    {
        min-height: 818px;
    }
    .first-page__img-block
    {
        width: 260px;
        height: 271px;
    }
    .first-page__text, .friends__title
    {
        width: auto;
        text-align: center;
    }
    .title
    {
        font-size: 25px;
    }
    .about
    {
        padding: 80px 15px 100px;
    }
    .about__text
    {
        width: auto;
    }
    .about__text-title
    {
        margin: 0 auto;
        width: 223px;
        text-align: center;
    }
    .about__text-descr
    {
        margin: 25px auto 0;
        width: 270px;
        text-align: justify;
    }

    .about .flex-container
    {
        justify-content: center;
    }

    .help__flex-container {
        margin: 0 auto;
        justify-content: space-between;
        gap: 55px 30px;
    }
    .help__type
    {
        width: 130px;
        height: 87px;
    }
    .help__type-name
    {
        font-size: 15px;
    }

    .hidden-sm
    {
        display: none;
    }

    .friends .flex-container
    {
        margin: 42px 0 20px 0;
    }
    .friends__arr
    {
        margin: 0 auto 42px;
        width: 184px;
        display: flex;
        justify-content: space-between;
    }

    .donation__text
    {
        width: 100%;
    }
    .donation__text-title
    {
        width: 206px;
        text-align: center;
        margin: auto;
    }
    .donation__text-name
    {
        letter-spacing: 0;
        text-align: center;
    }
    .donation__text-card
    {
        margin: 20px auto 0;
        width: 281px;
        height: 43px;
    }
    .donation__text-card__number
    {
        font-size: 15px;
    }
    .donation__text-info
    {
        margin: 20px auto 0;
        width: 280px;
        text-align: justify;
    }
}
