*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

ul,
ol,
li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: #CDCDCD;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}
.header
{
    padding: 60px 0;
}
.flex-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-link
{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.header__logo-text
{
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.menu
{
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item
{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: 0.8s all;
}
.menu__item:hover
{
    border-bottom: 3px solid #F1CDB3;
}